<!--customer support-->
<div class="customer-support">

	<div class="customer-support__icon-button customer-support__icon-button--phone customer-support__icon-button--red">
		<i class="customer-support__icon customer-support__icon--phone"></i>
		<p class="customer-support__icon-button-title">
			<span class="customer-support__icon-button-title-sub">Talk with us</span> 1300 228 546
		</p>
		<a href="#" class="customer-support__icon-button-link"></a>
	</div>

	<div class="customer-support__icon-button customer-support__icon-button--email">
		<i class="customer-support__icon customer-support__icon--email"></i>
		<p class="customer-support__icon-button-title">
			<span class="customer-support__icon-button-title-sub">Get in contact</span> Send <span class="hidden-md">us</span> a message
		</p>
		<a href="#" class="customer-support__icon-button-link"></a>
	</div>

	<div class="customer-support__icon-button customer-support__icon-button--agent">
		<i class="customer-support__icon customer-support__icon--agent"></i>
		<p class="customer-support__icon-button-title">
			<span class="customer-support__icon-button-title-sub">Travel agent?</span> Agent portal
		</p>
		<a href="#" class="customer-support__icon-button-link"></a>
	</div>

</div><!--customer support finish-->
