<div class="footer__bottom footer-bottom">
  <div class="container">

    <div class="row">

      <div class="footer-bottom__social-icons no-padding col-xs-12 col-md-4 col-md-push-8">

        <h5 class="footer-bottom__social-title">Follow us</h5>

        {{> global/socialIcons }}

      </div>{{!-- /.footer__social-icons --}}

      <div class="footer-bottom__copyright no-padding col-xs-12 col-md-8 col-md-pull-4">

        <p class="footer-bottom__copyright-text">Copyright &copy; 2017 AAT Kings Tours Pty Ltd. All rights reserved.</p>

        <p class="footer-bottom__copyright-links"><a href="#" class="footer-bottom__copyright-link">Log in</a> | <a href="#" class="footer-bottom__copyright-link">Privacy policy</a> | <a href="#" class="footer-bottom__copyright-link">Booking Conditions</a></p>

      </div>{{!-- /.footer__copyright --}}

    </div>{{!-- /.row --}}

  </div>
</div>
