<div class="footer__top footer-top">
	<div class="container">

		<div class="row">

			<div class="footer-top__nav accordion-menu accordion-menu--arrow col-xs-12 col-md-9 col-md-push-3 no-padding">

				<div class="panel-group" role="tablist" aria-multiselectable="true" id="footerNav">

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="footHeadDestinations">
							<h4 class="panel-title">
								<a class="collapsed accordion-menu__parent-link" role="button" data-toggle="collapse"
								   data-parent="#footerNav" href="#footCollapseDestinations" aria-expanded="true"
								   aria-controls="footCollapseDestinations">
									Destinations
								</a>
							</h4>
						</div>
						<div id="footCollapseDestinations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footHeadDestinations">
							<div class="panel-body panel-body--inner">

								<ul class="sub-menu__list">
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Adelaide</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Alice Springs</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Brisbane</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Cairns</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Canberra</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Darwin</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Melbourne</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Perth</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Sydney</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Uluru (Ayers Rock)</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link">more&hellip;</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					{{!-- /.panel destinations --}}

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="footHeadSights">
							<h4 class="panel-title">
								<a class="collapsed accordion-menu__parent-link" role="button" data-toggle="collapse"
								   data-parent="#footerNav" href="#footCollapseSights" aria-expanded="false"
								   aria-controls="footCollapseSights">
									Sights
								</a>
							</h4>
						</div>
						<div id="footCollapseSights" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footHeadSights">
							<div class="panel-body panel-body--inner">

								<ul class="sub-menu__list">
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Blue Mountains</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Great Barrier Reef</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Hunter Valley
																								 Vineries</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Kakadu National
																								 Park</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Kata Tjuta (the
																								 Olgas)</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Katherine Gorge</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Kings Canyon</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Litchfield National
																								 Park</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Sydney Harbour
																								 Bridge</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Twelve Apostles</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">Uluru (Ayers Rock)</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link">more&hellip;</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					{{!-- /.panel sights --}}

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="footHeadTour">
							<h4 class="panel-title">
								<a class="collapsed accordion-menu__parent-link" role="button" data-toggle="collapse"
								   data-parent="#footerNav" href="#footCollapseTour" aria-expanded="false"
								   aria-controls="footCollapseTour">
									Tour Styles
								</a>
							</h4>
						</div>
						<div id="footCollapseTour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footHeadTour">
							<div class="panel-body panel-body--inner">

								<ul class="sub-menu__list">
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Day Tours
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Short Breaks
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Guided Holidays
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Inspiring Journeys
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Aussie Adventures
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Down Under Tours
										</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					{{!-- /.panel tour styles --}}

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="footHeadSave">
							<h4 class="panel-title">
								<a class="collapsed accordion-menu__parent-link" role="button" data-toggle="collapse"
								   data-parent="#footerNav" href="#footCollapseSave" aria-expanded="false"
								   aria-controls="footCollapseSave">
									Ways to Save
								</a>
							</h4>
						</div>
						<div id="footCollapseSave" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footHeadSave">
							<div class="panel-body panel-body--inner">

								<ul class="sub-menu__list">
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Latest Deals
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Uluru Sightseeing Passes
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Kings Club Past Guest
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Discounts
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Group Discounts
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Combining Discounts
										</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					{{!-- /.panel ways to save --}}

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="footHeadAbout">
							<h4 class="panel-title">
								<a class="collapsed accordion-menu__parent-link" role="button" data-toggle="collapse"
								   data-parent="#footerNav" href="#footCollapseAbout" aria-expanded="false"
								   aria-controls="footCollapseAbout">
									About Us
								</a>
							</h4>
						</div>
						<div id="footCollapseAbout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footHeadAbout">
							<div class="panel-body panel-body--inner">

								<ul class="sub-menu__list">
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											The AAT Kings Difference
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Our People
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Out History
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Video
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											AAT Kings Cares
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											The Travel Corporation
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Groups &amp; Charters
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Awards
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Careers
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Contact Us
										</a>
									</li>
									<li class="sub-menu__item">
										<a href="#" class="sub-menu__link sub-menu__link--arrow">
											Our Blog
										</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					{{!-- /.panel about us --}}

				</div>

			</div>

			<div class="footer-top__header col-xs-12 col-md-3 col-md-pull-9">

				<div class="footer-top__logo">
					{{!-- svg logo managed by webpack in the sass
          for reference ./src/scss/layout/_header.scss:154
          https://css-tricks.com/icon-fonts-vs-svg/ --}}
				</div>

				<div class="footer-top__logo-content">
					<p>AAT Kings is Australia's favourite guided holiday company, with over 100 years of experience. Our wide range of Day Tours, Short Breaks and Guided Holidays are the perfect way to experience the best of Australia &amp; New Zealand.</p>
				</div>

				<div class="footer-top__icons">

					{{> global/customerSupport }}

				</div>

			</div>{{!-- /.footer-top__header --}}

			<div class="footer-top__affiliates col-xs-12">

				<div class="container-fluid">

					<div class="row">

						<div class="col-xs-6 col-sm-3 no-padding">

							<div class="footer-top__affiliates-logo footer-top__affiliates-logo--ttc">
								<a href="#" class="footer-top__affiliates-link"></a>
							</div>

						</div>

						<div class="col-xs-6 col-sm-3 no-padding">

							<div class="footer-top__affiliates-logo footer-top__affiliates-logo--tr">
								<a href="#" class="footer-top__affiliates-link"></a>
							</div>

						</div>

						<div class="col-xs-6 col-sm-3 no-padding">

							<div class="footer-top__affiliates-logo footer-top__affiliates-logo--tm">
								<a href="#" class="footer-top__affiliates-link"></a>
							</div>

						</div>

						<div class="col-xs-6 col-sm-3 no-padding">

							<div class="footer-top__affiliates-logo footer-top__affiliates-logo--iyd">
								<a href="#" class="footer-top__affiliates-link"></a>
							</div>

						</div>

					</div>

				</div>

			</div>{{!-- /.footer-top__affiliates --}}

		</div>{{!-- /.row --}}

	</div>
</div>{{!-- /.footer__top --}}
