<div class="header__nav--global-search global-search">
  <form class="global-search__form" action="#">

    <div class="container-fluid">
      <div class="row global-search__inputs">

        <div class="col-xs-9 no-padding">
          <input type="text" name="global-search" class="global-search__input">
        </div>

        <div class="col-xs-3 text-center no-padding">
          <input type="hidden" class="global-search__date-input">
          <p class="global-search__date-picker"><i class="fa fa-calendar" aria-hidden="true"></i> All Dates</p>
        </div>

      </div>

      <div class="row global-search__buttons">
        <div class="col-xs-12 col-md-6 no-padding">

          <p class="global-search__non-label visible-md visible-lg">Search by:</p>

          <div class="btn-group btn-group-justified global-search__btn-group" role="group" data-toggle="buttons">

            <label class="btn global-search__cat-btn btn-default active">
              <input type="radio" checked> All Tours
            </label>

            <label class="btn global-search__cat-btn btn-default">
              <input type="radio" > Day Tours <span class="button__sub">Half day - 1 day</span>
            </label>

            <label class="btn global-search__cat-btn btn-default">
              <input type="radio" > Short Breaks <span class="button__sub">2 - 7 Days</span>
            </label>

            <label class="btn global-search__cat-btn btn-default">
              <input type="radio"> Guided Holidays <span class="button__sub">4 - 21 Days</span>
            </label>

          </div>
        </div>

        <div class="col-xs-12 col-md-6 no-padding">
          <button class="global-search__btn">GO!</button>
        </div>
      </div>

    </div>

  </form>

</div>
<!-- global-search -->
