<div class="header__top visible-md visible-lg">
  <div class="container">
    <div class="row">

      <div class="header__top-col col-xs-6 vcenter">
        <a href="#" class="header__top-link">
		      <span class=" header__top-icon header__top-icon--phone"></span>
          <span class="">1300 22 547</span>
        </a>

        <a href="#" class="header__top-link">
          <span class=" header__top-icon header__top-icon--email"></span>
          Contact Us
        </a>
      </div>

      <div class="header__top-col col-md-6 text-right vcenter">

        <div class="header__top-link--manage">
          <a href="#" class="header__top-link">Manage your Booking <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <div class="header__top-dropdown header__top-dropdown--manage">
            <ul class="sub-menu__list">
              <li class="sub-menu__item">
                <a href="#" class="sub-menu__link">All you need to know</a>
              </li>
            </ul>
          </div>
        </div>

        <a href="#" class="header__top-link header__top-link--user">
		      <span class="header__top-icon header__top-icon--login"></span>
        </a>

      </div>

    </div>

  </div>
</div>
<!-- header__top -->
