<div class="social-icons">

  <a href="#" class="social-icons__icon-link social-icons__icon-link--facebook" title="facebook"><i class="fa fa-facebook social-icons__icon" aria-hidden="true"></i></a>

  <a href="#" class="social-icons__icon-link social-icons__icon-link--youtube" title="youtube"><i class="fa fa-youtube-play social-icons__icon" aria-hidden="true"></i></a>

  <a href="#" class="social-icons__icon-link social-icons__icon-link--twitter" title="twitter"><i class="fa fa-twitter social-icons__icon" aria-hidden="true"></i></a>

  <a href="#" class="social-icons__icon-link social-icons__icon-link--linkedin" title="linkedin"><i class="fa fa-linkedin social-icons__icon" aria-hidden="true"></i></a>

  <a href="#" class="social-icons__icon-link social-icons__icon-link--instagram" title="instagram"><i class="fa fa-instagram social-icons__icon" aria-hidden="true"></i></a>

  <a href="#" class="social-icons__icon-link social-icons__icon-link--tripadvisor" title="tripadvisor"><i class="fa fa-tripadvisor social-icons__icon" aria-hidden="true"></i></a>

</div>
