.accommodation{
  @include breakpoint($lrg-up) {
    padding: 0;
  }
  padding: 15px;

  &--span{
	font-size: 9px;

	&--green{
	  color:green;
	}
	&--brown{
	  color: $brown;
	}
  }
  &--icon{
	width: 20px;
	height:20px;
	display: inline;
  }
	&__hotel{
	  border: 1px solid $gray10;
	  @include border-radius(3px);
	}

}
