<div class="home--parallax parallax-tabs visible-lg">
    <div class="container">
        <ul class="parallax-tabs__tab-head nav nav-tabs text-center ">
            <li class="active parallax-tabs__tab-list text-capitalize"><a data-toggle="tab" href="#home"
                                                          class="parallax-tabs__tab-link"><h5>All tour types</h5>
                <p class="parallax-tabs__tabs-para">Customise your experience</p></a></li>
            <li class="parallax-tabs__tab-list text-capitalize"><a data-toggle="tab" href="#menu1" class="parallax-tabs__tab-link"><h5>
                Day Tours</h5>
                <p class="parallax-tabs__tabs-para" >Half day - 1 day</p></a></li>
            <li class="parallax-tabs__tab-list text-capitalize"><a data-toggle="tab" href="#menu2" class="parallax-tabs__tab-link"><h5>
                short breaks</h5>
                <p class="parallax-tabs__tabs-para">2 - 7 days</p></a></li>
            <li class="parallax-tabs__tab-list text-capitalize"><a data-toggle="tab" href="#menu2" class="parallax-tabs__tab-link"><h5>
                Guided Holidays</h5>
                <p class="parallax-tabs__tabs-para">4 - 21 days</p></a></li>
        </ul>
    </div>
    <div class="parallax-tabs__content">
        <div class="parallax-tabs__container">
            <div class=tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="parallax-tabs__bg">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="parallax-tabs__gradiant-bg">
                                    <img src="src/images/bm_aw.png" alt="" class="parallax-tabs__img">
                                    <div class="parallax-tabs__overlay-text">
                                        <div class="parallax-tabs__left no-padding col-md-8">
                                            <h3 class="text-uppercase">sydney day tour</h3>
                                            <p class="parallax-tabs__state-desc">Bathing Boxes | Piffing Billy | Little Penguins more...</p>
                                        </div>
                                        <a href="#" class="parallax-tabs___btn btn text-uppercase col-md-4">find out
                                            more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="parallax-tabs__gradiant-bg">
                                    <img src="src/images/melbourne_day.png" alt="" class="parallax-tabs__img">
                                    <div class="parallax-tabs__overlay-text">
                                        <div class="parallax-tabs__left no-padding col-md-8">
                                            <h3 class="text-uppercase">Melbourne day tour</h3>
                                            <p class="parallax-tabs__state-desc">Bathing Boxes | Piffing Billy | Little Penguins more...</p>
                                        </div>
                                        <a href="#" class="parallax-tabs___btn btn text-uppercase col-md-4">find out
                                            more</a>

                                        <p class="parallax-tabs__description">Melbourne is Australia’s second largest
                                            city. It is a stunning example of the beauty that comes
                                            from contrasting architectures and cultures of colonial times and
                                            contemporary flare.
                                            Check out some of Melbourne’s best experiences below.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="parallax-tabs__gradiant-bg">
                                    <img src="src/images/last_minute.png" alt="" class="parallax-tabs__img">
                                    <div class="parallax-tabs__overlay-text">
                                        <div class="parallax-tabs__left no-padding col-md-8">
                                            <h3 class="text-uppercase">Last  Minutes Deal</h3>
                                            <p class="parallax-tabs__state-desc">Offers are available until sold out or departed</p>
                                        </div>
                                        <a href="#" class="parallax-tabs___btn btn text-uppercase col-md-4">find out
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Centered Pills -->

</div>