<div class="home--dayTour day-tour hidden-md hidden-lg">
	<div class="day-tour__content container">
		<h2 class="day-tour__title text-center">Sydney Day Tours</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="day-tour__parent">
					<img class="day-tour__img" src="src/images/hp-xs-bm.png" alt="Blue mountain and australia day tour">
					<div class="day-tour__overlay-text">
						<div class="day-tour__para ">
							<h3 class="day-tour__title--h3 text-white text-capitalize no-margin">Blue Mountains &amp; Australian Wildlife</h3>
						</div>
						<a href="#" class="day-tour__btn btn text-uppercase ">view</a>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12">
				<div class="day-tour__parent">
					<img class="day-tour__img" src="src/images/hp-xs-ss.png" alt="Blue mountain and australia day tour">
					<div class="day-tour__overlay-text">
						<div class="day-tour__para ">
							<h3 class="day-tour__title--h3 text-white text-capitalize no-margin">Spectacular Sydney</h3>
						</div>
						<a href="#" class="day-tour__btn btn text-uppercase">view</a>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12">
				<div class="day-tour__parent">
					<img class=" day-tour__img" src="src/images/hp-xs-hv.png" alt="Blue mountain and australia day tour">
					<div class="day-tour__overlay-text">
						<div class="day-tour__para">
							<h3 class="day-tour__title--h3 text-white text-capitalize no-margin">Hunter Valley Harvest Wine Experience</h3>
						</div>
						<a href="#" class="day-tour__btn btn text-uppercase">view</a>
					</div>
				</div>
			</div>



		</div>

	</div>
</div>
