<div class="container visible-lg visible-md">
    <div class="home--aat-king why">
        <h1 class="why__title">Why AAT Kings</h1>
        <div class="row why__boxes">

            <div class=" col-md-4 col-xs-12 text-center">
                <div class="why__overlay-content">
                    <img class="why__img" src="src/images/wa_sunrise.jpg" alt="Field of Light sunrise tour">
                    <div class="why__overlay-img">
                      <div class="why__vector  sunrise-img">
                          <div class="why__overlay-text align-text-bottom">
                              <h4 class="text-capitalize font-weight-bold">Field of Light Sunrise Tour – Uluru</h4>
                              <p class="why__overlay-para ">We are the only operator doing
                                  a sunrise tour</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class=" col-md-4 col-xs-12 text-center">
                <div class="why__overlay-content">
                    <img class="why__img" src="src/images/wa_farm.jpg"
                         alt="Field of Light sunrise tour">
                    <div class="why__overlay-img">
                        <div class="why__vector farm-img">
                            <div class="why__overlay-text align-text-bottom">
                              <h4 class="text-capitalize font-weight-bold">Morelea Farm Visit – New Zealand</h4>
                              <p class="why__overlay-para ">New Zealand farm life experience </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class=" col-md-4 col-xs-12 text-center">
                <div class="why__overlay-content">
                    <img class="why__img" src="src/images/wa_bbq.jpg" alt="Field of Light sunrise tour">
                    <div class="why__overlay-img">
                      <div class="why__vector barbecue-img">
                        <div class="why__overlay-text align-text-bottom">
                          <h4 class="text-capitalize font-weight-bold">Uluru Barbecue</h4>
                          <p class="why__overlay-para ">The only guests allowed in the Uluru National Park after sunset</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="why__tour">
            <div class="row">
                <div class="col-md-3">
                    <a href="">
                        <img class="why__tour-img" src="src/images/svg/hp_map.svg" alt="">
                        <h5 class="why__bottom-text">100 years of<br/>experience AU/NZ</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="">
                        <img class="why__tour-img" src="src/images/svg/hp_bus.svg" alt="">
                        <h5 class="why__bottom-text">Let us do the<br/>driving for you</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="">
                        <img class="why__tour-img" src="src/images/svg/hp_bag.svg" alt="">
                        <h5 class="why__bottom-text">We will carry your<br/>bags each day</h5>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="">
                        <img class="why__tour-img" src="src/images/svg/hp_touring.svg" alt="">
                        <h5 class="why__bottom-text">Environmentally<br/>friendly touring</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
