<div class="home__brochure-out brochure-out visible-lg">
	<div class="brochure-out__bg-img">
		<div class="container">
			<div class="brochure-out__content">
				<div class="col-md-6">
					<img class="brochure-out__left-img" src="../src/images/hp_magazine.png" alt="brochure out right side image">
				</div>
				<div class="brochure-out__right-content col-md-6">
					<h2 class="brochure-out__title">Brochure out now! <span> 2018 / 2019</span></h2>
					<p class="brochure-out__p text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis euismod justo at maximus. Nunc malesuada nulla ullamcorper mi gravida vulputate. Nam eros purus, vulputate vel ultricies pulvinar, malesuada quis nisl. </p>
					<div class="brochure-out__right-btn ">
						<a href="#" class="btn btn--red-outline text-uppercase ">view all Brochures <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						<a href="#" class="btn btn--red-outline text-uppercase ">Download now </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
