<div id="traveler-experience" class="home__traveler-experience traveler-experience" >

	<h3 class="traveler-experience__title">Traveler Experiences</h3>

	<div id="travel-carousel" class="carousel slide travel__carousel carousel" data-ride="carousel">

		<ol class="carousel-indicators traveler-experience__carousel-indicators">

			<!-- indicator start - start for loop here -->
			<li data-target="#travel-carousel" data-slide-to="0" class="active"></li><!-- active class only on the first item -->
			<!-- indicator finish - end your for loop here -->

			{{!-- TODO remove below on template --}}
			<li data-target="#travel-carousel" data-slide-to="1"></li>
			<li data-target="#travel-carousel" data-slide-to="2"></li>
			<li data-target="#travel-carousel" data-slide-to="3"></li>
			{{!-- TODO remove above --}}

		</ol><!-- /.carousel-indicators  -->

		<div class="carousel-inner" role="listbox">

			<!-- slide start - start for loop here -->

			<div class="item active"><!-- active class only on the first item -->
				<div class="traveler-experience__wrap">

					<div class="traveler-experience__image">
						<img class="traveler-experience__image-img"  src="src/images/hp_travel-profile.png" alt="">
					</div>

					<div class="traveler-experience__caption">
						<p class="traveler-experience__p traveler-experience__p--quotes">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis euismod justo at maximus.
						</p>
						<div class="traveler-experience__meta">
							<p class="traveler-experience__p"><strong class="traveler-experience__user-title">Name and Family Name</strong><br />
							<span class="traveler-experience__user-location">Country - City</span></p>
						</div>
					</div>{{!-- /.carousel-caption --}}

				</div>{{!-- /.traveler-experience__wrap --}}
			</div>{{!-- /.item --}}

			<!-- slide finish - end your for loop here -->


			{{!-- TODO remove below on template --}}

			<div class="item">
				<div class="traveler-experience__wrap">

					<div class="traveler-experience__image">
						<img class="traveler-experience__image-img"  src="src/images/hp_travel-profile.png" alt="">
					</div>

					<div class="traveler-experience__caption">
						<p class="traveler-experience__p traveler-experience__p--quotes">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis euismod justo at maximus. Nunc malesuada nulla ullamcorper mi gravida vulputate. Nam eros purus, . Nunc consectetur sodales turpis, a lacinia lacus maximus laoreet. Nunc eget purus rutrum elit eleifend auctor. In at arcu nec dolor facilisis convallis at ut sem.
						</p>
						<div class="traveler-experience__meta">
							<p class="traveler-experience__p"><strong class="traveler-experience__user-title">Name and Family Name</strong><br />
							<span class="traveler-experience__user-location">Country - City</span></p>
						</div>
					</div>{{!-- /.carousel-caption --}}

				</div>{{!-- /.traveler-experience__wrap --}}
			</div>{{!-- /.item --}}

			<div class="item">
				<div class="traveler-experience__wrap">

					<div class="traveler-experience__image">
						<img class="traveler-experience__image-img"  src="src/images/hp_travel-profile.png" alt="">
					</div>

					<div class="traveler-experience__caption">
						<p class="traveler-experience__p traveler-experience__p--quotes">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis euismod justo at maximus. Nunc malesuada nulla ullamcorper mi gravida vulputate. Nam eros purus, . Nunc consectetur sodales turpis, a lacinia lacus maximus laoreet.
						</p>
						<div class="traveler-experience__meta">
							<p class="traveler-experience__p"><strong class="traveler-experience__user-title">Name and Family Name</strong><br />
							<span class="traveler-experience__user-location">Country - City</span></p>
						</div>
					</div>{{!-- /.carousel-caption --}}

				</div>{{!-- /.traveler-experience__wrap --}}
			</div>{{!-- /.item --}}

			<div class="item">
				<div class="traveler-experience__wrap">

					<div class="traveler-experience__image">
						<img class="traveler-experience__image-img"  src="src/images/hp_travel-profile.png" alt="">
					</div>

					<div class="traveler-experience__caption">
						<p class="traveler-experience__p traveler-experience__p--quotes">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada nulla ullamcorper mi gravida vulputate. Nunc consectetur sodales turpis, a lacinia lacus maximus laoreet. Nunc eget purus rutrum elit eleifend auctor. In at arcu nec dolor facilisis convallis at ut sem.
						</p>
						<div class="traveler-experience__meta">
							<p class="traveler-experience__p"><strong class="traveler-experience__user-title">Name and Family Name</strong><br />
							<span class="traveler-experience__user-location">Country - City</span></p>
						</div>
					</div>{{!-- /.carousel-caption --}}

				</div>{{!-- /.traveler-experience__wrap --}}
			</div>{{!-- /.item --}}


			<div class="item">
				<div class="traveler-experience__wrap">

					<div class="traveler-experience__image">
						<img class="traveler-experience__image-img"  src="src/images/hp_travel-profile.png" alt="">
					</div>

					<div class="traveler-experience__caption">
						<p class="traveler-experience__p traveler-experience__p--quotes">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis euismod justo at maximus. Nunc malesuada nulla ullamcorper mi gravida vulputate. Nam eros purus, . Nunc consectetur sodales turpis, a lacinia lacus maximus laoreet. Nunc eget purus rutrum elit eleifend auctor. In at arcu nec dolor facilisis convallis at ut sem.
						</p>
						<div class="traveler-experience__meta">
							<p class="traveler-experience__p"><strong class="traveler-experience__user-title">Name and Family Name</strong><br />
							<span class="traveler-experience__user-location">Country - City</span></p>
						</div>
					</div>{{!-- /.carousel-caption --}}

				</div>{{!-- /.traveler-experience__wrap --}}
			</div>{{!-- /.item --}}

			{{!-- TODO reomve above --}}


		</div>

		<!-- Controls -->
		<div class="traveler-experience__carousel-control">
			<a class="left carousel-control" href="#travel-carousel" role="button" data-slide="prev">
				<i class="traveler-experience__carousel-icn traveler-experience__carousel-icn--prev" aria-hidden="true"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#travel-carousel" role="button" data-slide="next">
				<i class="traveler-experience__carousel-icn traveler-experience__carousel-icn--next" aria-hidden="true"></i>
				<span class="sr-only">Next</span>
			</a>
		</div><!-- .traveler-experience__carousel-icon -->

	</div>

	<a href="#" class="traveler-experience__btn btn btn--red hidden-lg">View all traveler experiences</a>

</div><!-- /.carousel -->
