<div id="inspiring-journey" class="home__inspiring-journey inspiring-journey carousel slide carousel visible-lg">

		<!--header -->
		<div class="inspiring-journey__header container">
			<div class="inspiring-journey__left-head col-md-9 no-padding">
				<h2 class="inspiring-journey__title inspiring-journey__title--light-brown">Inspiring Journeys
					<span class="inspiring-journey__header-icon inspiring-journey__header-icon--sb"></span>
					<span class="inspiring-journey__header-right-text"> 4 - 21 days</span></h2>
			</div>
			<div class="col-md-3 no-padding">
				<a href="#" class="btn btn--red btn--bold text-uppercase">view all tours <i class="fa fa-angle-right btn-icon" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-12 no-padding">
				<p class="inspiring-journey__header-p">AAT Kings Guided Holidays fully explore each destination, so you can immerse yourself in its landscape, history and culture. Select from one of our featured holidays below.</p>
			</div>
		</div>


		{{!--

		Inspiring Journey - Card carousel

		Each "Slide" has no more or less than 3 "Cards" per slide.
		In the example below, there are 3 slides with 3 cards per slide. For a grand total of 9 cards.

		--}}

		<div class="inspiring-journey__carousel">

			<div class="inspiring-journey__caret-icons">
				<a class="left carousel-control" href="#inspiring-journey" role="button" data-slide="prev">
					<i class="inspiring-journey__control-icon inspiring-journey__control-icon--prev" aria-hidden="true"></i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#inspiring-journey" role="button" data-slide="next">
					<i class="inspiring-journey__control-icon inspiring-journey__control-icon--next" aria-hidden="true"></i>
					<span class="sr-only">Next</span>
				</a>
			</div>

			<div class="carousel-inner" role="listbox">

				{{!-- SLIDE one start --}}
				<div class="item inspiring-journey__slide active">
					<div class="inspiring-journey__slide-inner">

						{{!-- CARD one start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_vh.jpg"
								alt="home Inspiring-journey Image"
							>

							<a href="#" class="carousel-card__link"></a>

							<div class="carousel-card__icon">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-one">
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Victoria's Hidden Gems</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>5 days</strong> | Melbourne, Victoria</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$1350</p>
								</div>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD one finish --}

						{{!-- CARD two start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_oa.jpg"
								alt="home Inspiring-journey Image"
							>

							<a href="#" class="carousel-card__link"></a>

							<div class="carousel-card__icon carousel-card__icon--checked">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two" checked>
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Outback Australia - The Colour of Red</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>9 days</strong> | Uluru to Alice Springs</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$2450</p>
								</div>

								<p class="carousel-card__p">Explore the highlights and mind blowing hidden treasures of the Red Centre. Innerse yourself in local culture and ancient traditions and come away with a deeper understanding of what makes the Red Centre so unique and instpiring.</p>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD two finish --}}

						{{!-- CARD three start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_ia.jpg"
								alt="home Inspiring-journey Image"
							>

							<a href="#" class="carousel-card__link"></a>

							<div class="carousel-card__icon">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two">
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Inspiring Australia</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>13 days</strong> | Cairns to Sydney</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$3250</p>
								</div>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD three finish --}}

					</div>
				</div>
				{{!-- SLIDE one finish --}}


				{{!-- SLIDE two start --}}
				<div class="item inspiring-journey__slide">
					<div class="inspiring-journey__slide-inner">


						{{!-- CARD one start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_vh.jpg"
								alt="home Inspiring-journey Image"
							>

							<a href="#" class="carousel-card__link"></a>

							<div class="carousel-card__icon">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-one">
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Victoria's Hidden Gems</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>5 days</strong> | Melbourne, Victoria</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$1350</p>
								</div>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD one finish --}}



						{{!-- CARD two start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_oa.jpg"
								alt="Outback Australia - The Colour of Red"
							>

							<div class="carousel-card__icon carousel-card__icon--checked">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two" checked>
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Outback Australia - The Colour of Red</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>9 days</strong> | Uluru to Alice Springs</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$2450</p>
								</div>

								<p class="carousel-card__p">Explore the highlights and mind blowing hidden treasures of the Red Centre. Innerse yourself in local culture and ancient traditions and come away with a deeper understanding of what makes the Red Centre so unique and instpiring.</p>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD two finish --}}




						{{!-- CARD three start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_ia.jpg"
								alt="home Inspiring-journey Image"
							>

							<a href="#" class="carousel-card__link"></a>

							<div class="carousel-card__icon">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two">
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Inspiring Australia</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>13 days</strong> | Cairns to Sydney</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$3250</p>
								</div>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD three finish --}}

					</div>
				</div>
				{{!-- SLIDE two finish --}}



				{{!-- SLIDE three start --}}
				<div class="item inspiring-journey__slide">
					<div class="inspiring-journey__slide-inner">


						{{!-- CARD one start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_vh.jpg"
								alt="home Inspiring-journey Image"
							>

							<a href="#" class="carousel-card__link"></a>

							<div class="carousel-card__icon">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-one">
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Victoria's Hidden Gems</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>5 days</strong> | Melbourne, Victoria</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$1350</p>
								</div>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD one finish --}}



						{{!-- CARD two start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_oa.jpg"
								alt="home Inspiring-journey Image"
							>

							<div class="carousel-card__icon carousel-card__icon--checked">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two" checked>
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Outback Australia - The Colour of Red</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>9 days</strong> | Uluru to Alice Springs</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$2450</p>
								</div>

								<p class="carousel-card__p">Explore the highlights and mind blowing hidden treasures of the Red Centre. Innerse yourself in local culture and ancient traditions and come away with a deeper understanding of what makes the Red Centre so unique and instpiring.</p>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD two finish --}}




						{{!-- CARD three start --}}
						<div class="inspiring-journey__carousel-card carousel-card">

							<img
								class="carousel-card__img"
								src="src/images/ij_ia.jpg"
								alt="home Inspiring-journey Image"
							>

							<a href="#" class="carousel-card__link"></a>

							<div class="carousel-card__icon">
								<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two">
								<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
								<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
							</div>

							<div class="carousel-card__caption">

								<div class="carousel-card__left">
									<h3 class="carousel-card__h3">Inspiring Australia</h3>
									<h4 class="carousel-card__h4"><span class="--red">-</span> <strong>13 days</strong> | Cairns to Sydney</h4>
								</div>

								<div class="carousel-card__right">
									<p class="carousel-card__price"><span class="carousel-card__price-sup">From</span>
									$3250</p>
								</div>

							</div>{{!-- /.carousel-caption --}}

						</div>
						{{!-- CARD three finish --}}

					</div>
				</div>
				{{!-- SLIDE three finish --}}


			</div>

		</div>

		<ol class="carousel-indicators inspiring-journey__indicators">
			<li data-target="#inspiring-journey" data-slide-to="0" class="active"></li>
			<li data-target="#inspiring-journey" data-slide-to="1"></li>
			<li data-target="#inspiring-journey" data-slide-to="2"></li>
		</ol>



	<!--finish Multiple carousel-->

	<!-- Controls -->

</div><!-- /.carousel -->
