<div id="homeInstagram" class="home__instagram instagram visible-md visible-lg">

  <h2 class="instagram__title">Instagram Journeys</h2>
  <p class="instagram__p">find more at <a class="instagram__title-link" href="#">@AATKings</a></p>

  <div class="container-fluid">
    <div class="instagram__row">

      <div class="instagram__item">
        <a href="#"  class="instagram__link">
          <img class="instagram__img" src="src/images/instagram/ig_1.jpg" alt="">
        </a>
      </div>

      <div class="instagram__item">
        <a href="#"  class="instagram__link">
          <img class="instagram__img" src="src/images/instagram/ig_2.jpg" alt="">
        </a>
      </div>

      <div class="instagram__item">
        <a href="#"  class="instagram__link">
          <img class="instagram__img" src="src/images/instagram/ig_3.jpg" alt="">
        </a>
      </div>

      <div class="instagram__item">
        <a href="#"  class="instagram__link">
          <img class="instagram__img" src="src/images/instagram/ig_4.jpg" alt="">
        </a>
      </div>

      <div class="instagram__item">
        <a href="#"  class="instagram__link">
          <img class="instagram__img" src="src/images/instagram/ig_5.jpg" alt="">
        </a>
      </div>

      <div class="instagram__item">
        <a href="#"  class="instagram__link">
          <img class="instagram__img" src="src/images/instagram/ig_6.jpg" alt="">
        </a>
      </div>

      <div class="instagram__item">

        <a href="#"  class="instagram__link">

          <div class="instagram__overlay">
            <span class="instagram__overlay-text"><i class="fa fa-2x fa-instagram instagram__link-icon" aria-hidden="true"></i><br />
            view all our<br /><strong>Instagram Posts</strong></span>
          </div>

          <img class="instagram__img" src="src/images/instagram/ig_7.jpg" alt="">
        </a>
      </div>

    </div>{{!-- .row --}}
  </div>

</div>
