<div class="home--traveler-stories traveler-stories">
	<div class="traveler-stories__overlay-img">
		<div class="container">
			<div class="traveler-stories__text text-center">
				<h3 class="traveler-stories__title">Traveler stories</h3>
				<p class="traveler-stories__p">Guided Holidays feature quality hotels, with porterage included. All breakfasts are included, plus up to half of your dinners, using quality local produce, and all feature a ‘welcome reception’ and a ‘farewell dinner’. * For other meals, we offer tips on where the locals eat.</p>

				<a href="#" class="traveler-stories__btn btn text-uppercase">view all articles <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
