<div class="home--discount-updates discount-updates">
	<div class="discount-updates__overlay-img">
		<div class="container">
			<div class="discount-updates__text text-center ">

				<div class="discount-updates__top-icon">
					<i class="fa fa-stop" aria-hidden="true"></i>
					<i class="fa fa-stop" aria-hidden="true"></i>
					<i class="fa fa-stop" aria-hidden="true"></i>
				</div>

				<h3 class="discount-updates__title">Send me discount and updates</h3>
				<p class="discount-updates__p">Subscribe to our <strong>Newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.</p>

				<form class="discount-updates__form" method="post" action="index.html">
					<input type="email" class="discount-updates__input" id="discount-email" placeholder="Type your email...">
					<button class="discount-updates__btn">yes! I want it!</button>
				</form>

			</div>
		</div>
	</div>

</div>{{!-- /.home--discount-updates --}}
