<div class="container-fluid">
	<div class="home--featured-tour featured-tour text-center">
		<h2 class=" featured-tour__head text-capitalize">Featured Tours</h2>
		<div class="featured-tour__tour-info">
			<ul class="featured-tour__nav nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#dayTour">
					<h3 class="featured-tour__nav-heading featured-tour__heading--yellow">Day Tours
						<span class="featured-tour__icon tour-icon featured-tour__icon--dt"></span></h3>
					<p class="featured-tour__nav-heading-sub">Half day - 1 day</p></a></li>
				<li>
					<a data-toggle="tab" href="#shortBreak">
						<h3 class="featured-tour__nav-heading featured-tour__title-brown">Short Breaks
							<span class=" featured-tour__icon tour-icon featured-tour__icon--sb"></span></h3>
						<p class="featured-tour__nav-heading-sub">2 -7 days</p></a></li>
				<li>
					<a data-toggle="tab" href="#guidedHoliday">
						<h3 class="featured-tour__nav-heading featured-tour__title-blue">
							Guided Holidays
							<span class="featured-tour__icon tour-icon featured-tour__icon--gh"></span>
						</h3>
						<p class="featured-tour__nav-heading-sub">4 - 21 days</p>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<!--first tab-day tours-->
				<div id="dayTour" class="mobile-accordion tab-pane fade in active">
					<div class="featured-tour__day-tour">
						<div class="text-left featured-tour__left ">
							<h2 class="featured-tour__left-heading featured-tour__heading--yellow">Day Tours <span class="featured-tour__left-heading-icon featured-tour__left-heading-icon--dt"></span></h2>
							<p class="featured-tour__p"><strong>From 4-22 days,</strong> an AAT Kings Guided Holidays lets you fully explore a destination and immerse yourself in its landscape, history and culture.</p>
							<p class="featured-tour__p">Guided Holidays feature quality hotels, with porterage included. All breakfasts are included, plus up to half of your dinners, using quality local produce, and all feature	a ‘welcome reception’ and a ‘farewell dinner’.* For other meals, we offer tips on where the locals eat.</p>
						</div>

						<div class="featured-tour__right">

							<a href="#" class="featured-tour__link featured-tour__link--gbr">
                <span class="featured-tour__link-text">Great Barrier Reef &amp; Queensland</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nth">
                <span class="featured-tour__link-text">The Top End, Northern Territory</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nsw">
                <span class="featured-tour__link-text">New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--asa">
                <span class="featured-tour__link-text">Adelaide &amp; South Australia</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nsw">
                <span class="featured-tour__link-text">Sydney &amp; New South Wales</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nzs">
                <span class="featured-tour__link-text">South Island, New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--mlv">
                <span class="featured-tour__link-text">Melbourne &amp; Victoria</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--pwa">
                <span class="featured-tour__link-text">Perth &amp; Western Australia</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nzn">
                <span class="featured-tour__link-text">North Island, New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--hbt">
                <span class="featured-tour__link-text">Hobart &amp; Tasmania </span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--rnt">
                <span class="featured-tour__link-text">The Red Centre, Northern Territory</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--view-all view-all">
                <span class="featured-tour__link-text">VIEW ALL <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></span>
							</a>

						</div>
					</div>
				</div>
				<!--second tab-short breaks-->
				<div id="shortBreak" class="mobile-accordion tab-pane fade in ">
					<div class="featured-tour__day-tour">

						<div class="text-left featured-tour__left">
							<h2 class="featured-tour__left-heading featured-tour__heading--brown">Short Breaks <span class="featured-tour__left-heading-icon featured-tour__left-heading-icon--sb"></span></h2>
							<p class="featured-tour__p"><strong>From 4-22 days,</strong> an AAT Kings Guided Holidays lets you fully explore a destination and immerse yourself in its landscape, history and culture.</p>
							<p class="featured-tour__p">Guided Holidays feature quality hotels, with porterage included. All breakfasts are included, plus up to half of your dinners, using quality local produce, and all feature a ‘welcome reception’ and a ‘farewell dinner’.* For other meals, we offer tips on where the locals eat.</p>
						</div>

						<div class="featured-tour__right">

							<a href="#" class="featured-tour__link featured-tour__link--gbr">
                <span class="featured-tour__link-text">Great Barrier Reef &amp; Queensland</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nth">
                <span class="featured-tour__link-text">The Top End, Northern Territory</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nsw">
                <span class="featured-tour__link-text">New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--asa">
                <span class="featured-tour__link-text">Adelaide &amp; South Australia</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nsw">
                <span class="featured-tour__link-text">Sydney &amp; New South Wales</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nzs">
                <span class="featured-tour__link-text">South Island, New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--mlv">
                <span class="featured-tour__link-text">Melbourne &amp; Victoria</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--pwa">
                <span class="featured-tour__link-text">Perth &amp; Western Australia</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nzn">
                <span class="featured-tour__link-text">North Island, New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--hbt">
                <span class="featured-tour__link-text">Hobart &amp; Tasmania </span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--rnt">
                <span class="featured-tour__link-text">The Red Centre, Northern Territory</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--view-all view-all">
                <span class="featured-tour__link-text">VIEW ALL <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></span>
							</a>

						</div>
					</div>
				</div>
				<!--third tab-guided holidays-->
				<div id="guidedHoliday" class="mobile-accordion tab-pane fade in ">
					<div class="featured-tour__day-tour">

						<div class="text-left featured-tour__left">

							<h2 class="featured-tour__left-heading featured-tour__heading--blue">Guided Holidays<span class="featured-tour__left-heading-icon featured-tour__left-heading-icon--gh"></span></h2>

							<p class="featured-tour__p"><strong>From 4–22 days,</strong> an AAT Kings Guided Holidays lets you fully explore a destination and immerse yourself in its landscape, history and culture.</p>

							<p class="featured-tour__p">Guided Holidays feature quality hotels, with porterage included. All breakfasts are
							   included, plus up to half of your dinners, using quality local produce, and all feature
							   a ‘welcome reception’ and a ‘farewell dinner’.* For other meals, we offer tips on where
							   the locals eat.</p>

						</div>

						<div class="featured-tour__right">

							<a href="#" class="featured-tour__link featured-tour__link--gbr">
                <span class="featured-tour__link-text">Great Barrier Reef &amp; Queensland</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nth">
                <span class="featured-tour__link-text">The Top End, Northern Territory</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nsw">
                <span class="featured-tour__link-text">New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--asa">
                <span class="featured-tour__link-text">Adelaide &amp; South Australia</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nsw">
                <span class="featured-tour__link-text">Sydney &amp; New South Wales</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nzs">
                <span class="featured-tour__link-text">South Island, New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--mlv">
                <span class="featured-tour__link-text">Melbourne &amp; Victoria</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--pwa">
                <span class="featured-tour__link-text">Perth &amp; Western Australia</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--nzn">
                <span class="featured-tour__link-text">North Island, New Zealand</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--hbt">
                <span class="featured-tour__link-text">Hobart &amp; Tasmania </span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--rnt">
                <span class="featured-tour__link-text">The Red Centre, Northern Territory</span>
							</a>

							<a href="#" class="featured-tour__link featured-tour__link--view-all view-all">
                <span class="featured-tour__link-text">VIEW ALL <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></span>
							</a>

						</div><!-- featured-tour__right -->

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
