<div class="home--tour-tabs tour-tabs visible-lg">

	<!-- Centered Pills -->
	<div class="container">
		<ul class="tour-tabs__head nav nav-tabs text-center ">
			<li class="active tour-tabs__li text-capitalize">
				<a data-toggle="tab" href="#tourType" class="tour-tabs__link"></a>
				<h5 class="tour-tabs__title--h5">All tour types</h5>
				<p class="tour-tabs__tabs-p">Customise your experience</p>
			</li>
			<li class="tour-tabs__li text-capitalize">
				<a data-toggle="tab" href="#tourTabsDayTour" class="tour-tabs__link"></a>
				<h5 class="tour-tabs__title--h5">Day Tours</h5>
				<p class="tour-tabs__tabs-p">Half day - 1 day</p>
			</li>
			<li class="tour-tabs__li text-capitalize">
				<a data-toggle="tab" href="#tourTabsShortBreak" class="tour-tabs__link"></a>
				<h5 class="tour-tabs__title--h5">short breaks</h5>
				<p class="tour-tabs__tabs-p">2 - 7 days</p>
			</li>
			<li class="tour-tabs__li text-capitalize">
				<a data-toggle="tab" href="#tourTabsGuidedHoliday" class="tour-tabs__link"></a>
				<h5 class="tour-tabs__title--h5">Guided Holidays</h5>
				<p class="tour-tabs__tabs-p">4 - 21 days</p>
			</li>
		</ul>
	</div>

	<div class="tour-tabs__content">
		<div class="tour-tabs__bg">
			<div class="tab-content">

				<!--first tab-->
				<div id="tourType" class="tour-tabs__tab-pane tab-pane fade in active">
					<div class=" item tour-tabs__slide">
						<!--slide one start-->
						<div class="tour-tabs__slide-inner">

							{{!-- CARD one start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_sd.png"  alt=" Tour tabs Sydney Day Tours Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-one">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Sydney Day Tours</h3>
										<h4 class="carousel-card__h4"><span>Three Sisters </span> | <span>Hunter Valley</span> | <span>Canberra and more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD one finish --}

                            {{!-- CARD two start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_mb.png" alt="Tour Tabs Melbourne Day Tours Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon carousel-card__icon--checked">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two" checked>
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Melbourne Day Tour</h3>
										<h4 class="carousel-card__h4"><span>Bathing Boxes </span> | <span>  Piffing Billy  </span> | <span> Little Penguins more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

									<p class="carousel-card__p">Explore the highlights and mind blowing hidden treasures of the Red Centre.
																Innerse yourself in local culture and ancient traditions and come away with a
																deeper understanding of what makes the Red Centre so unique and instpiring.</p>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD two finish --}}

							{{!-- CARD three start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_Lm.png" alt="Tour Tabs Last Minute Deals Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Last Minute Deals</h3>
										<h4 class="carousel-card__h4"> Offers are available until sold out or depart</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span ">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD three finish --}}

						</div>
						<!--slide one finish-->
					</div>
				</div>
				<!--finish first tab-->

				<!--second tab-->
				<div id="tourTabsDayTour" class="tour-tabs__tab-pane tab-pane fade">
					<div class=" item tour-tabs__slide">
						<!--slide one start-->
						<div class="tour-tabs__slide-inner">

							{{!-- CARD one start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_sd.png"
										alt="Tour Tabs Sydeny Day Tours Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-one">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Sydney Day Tours</h3>
										<h4 class="carousel-card__h4"><span>Three Sisters </span> | <span>Hunter Valley</span> | <span>Canberra and more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD one finish --}

                            {{!-- CARD two start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_mb.png"
										alt="Tour Tabs Melbourne Day Tour Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon carousel-card__icon--checked">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two" checked>
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Melbourne Day Tour</h3>
										<h4 class="carousel-card__h4"><span>Bathing Boxes </span> | <span>  Piffing Billy  </span> | <span> Little Penguins more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

									<p class="carousel-card__p">Explore the highlights and mind blowing hidden treasures of the Red Centre.
																Innerse yourself in local culture and ancient traditions and come away with a
																deeper understanding of what makes the Red Centre so unique and instpiring.</p>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD two finish --}}

							{{!-- CARD three start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_Lm.png"
										alt="Tour Tabs Last Minute Deals Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Last Minute Deals</h3>
										<h4 class="carousel-card__h4"> Offers are available until sold out or depart</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD three finish --}}

						</div>
						<!--slide one finish-->
					</div>
				</div>
				<!--finish second tab-->

				<!--third tab-->
				<div id="tourTabsShortBreak" class="tour-tabs__tab-pane tab-pane fade">
					<div class=" item tour-tabs__slide">
						<!--slide one start-->
						<div class="tour-tabs__slide-inner">

							{{!-- CARD one start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_sd.png"
										alt="Tour Tabs Sydney Day Tours Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-one">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Sydney Day Tours</h3>
										<h4 class="carousel-card__h4"><span>Three Sisters </span> | <span>Hunter Valley</span> | <span>Canberra and more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD one finish --}

                            {{!-- CARD two start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_mb.png"
										alt="Tour Tabs Melbourne Day Tours Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon carousel-card__icon--checked">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two" checked>
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Melbourne Day Tour</h3>
										<h4 class="carousel-card__h4"><span>Bathing Boxes </span> | <span>  Piffing Billy  </span> | <span> Little Penguins more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

									<p class="carousel-card__p">Explore the highlights and mind blowing hidden treasures of the Red Centre.
																Innerse yourself in local culture and ancient traditions and come away with a
																deeper understanding of what makes the Red Centre so unique and instpiring.</p>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD two finish --}}

							{{!-- CARD three start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_Lm.png"
										alt="Tour Tabs Last Minute Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Last Minute Deals</h3>
										<h4 class="carousel-card__h4"> Offers are available until sold out or depart</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD three finish --}}

						</div>
						<!--slide one finish-->
					</div>
				</div>
				<!--finish third tab-->

				<!--forth tab-->
				<div id="tourTabsGuidedHoliday" class="tour-tabs__tab-pane tab-pane fade">
					<div class=" item tour-tabs__slide">
						<!--slide one start-->
						<div class="tour-tabs__slide-inner">

							{{!-- CARD one start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_sd.png"
										alt="Tour Tabs Sydney Day Tour Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-one">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Sydney Day Tours</h3>
										<h4 class="carousel-card__h4"><span>Three Sisters </span> | <span>Hunter Valley</span> | <span>Canberra and more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD one finish --}

                            {{!-- CARD two start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_mb.png"
										alt="Tour Tabs Melbourne Day Tour Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon carousel-card__icon--checked">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two" checked>
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Melbourne Day Tour</h3>
										<h4 class="carousel-card__h4"><span>Bathing Boxes </span> | <span>  Piffing Billy  </span> | <span> Little Penguins more...</span>
										</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

									<p class="carousel-card__p">Explore the highlights and mind blowing hidden treasures of the Red Centre.
																Innerse yourself in local culture and ancient traditions and come away with a
																deeper understanding of what makes the Red Centre so unique and instpiring.</p>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD two finish --}}

							{{!-- CARD three start --}}
							<div class="tour-tabs__carousel-card carousel-card">

								<img
										class="carousel-card__img"
										src="src/images/tt_Lm.png"
										alt="Tour Tab Last Minute Image"
								>

								<a href="#" class="carousel-card__link"></a>

								<div class="carousel-card__icon">
									<input type="checkbox" class="carousel-card__icon-checkbox" name="heart-card-two">
									<i class="fa fa-heart-o default-icon heart-icon" aria-hidden="true"></i>
									<i class="fa fa-heart hover-icon heart-icon" aria-hidden="true"></i>
								</div>

								<div class="carousel-card__caption">

									<div class="carousel-card__left">
										<h3 class="carousel-card__h3 text-uppercase">Last Minute Deals</h3>
										<h4 class="carousel-card__h4"> Offers are available until sold out or depart</h4>
									</div>

									<div class="carousel-card__right">
										<a href="#" class=" carousel-card__btn "> Find out <span class="carousel-card__hide-span">more</span></a>
									</div>

								</div>{{!-- /.carousel-caption --}}

							</div>
							{{!-- CARD three finish --}}

						</div>
						<!--slide one finish-->
					</div>
				</div>
				<!--finish forth tab-->

			</div>
		</div>
	</div>

	<!-- Centered Pills -->

</div>
