<div id="home-map" class="home__explore-map explore-map">

	<div class="container text-center">

		{{!-- Mobile --}}
		<div class="visible-xs">

			<h2 class="explore-map__title--h2">Explore by Map</h2>

			<div class="row">

				<div class="col-xs-6">
					<h3 class="explore-map__title--h3">Australia</h3>
					<a href="#" class="explore-map__mobile-link">
						<img class="explore-map__mobile-img" src="src/images/svg/hp-aus-map.svg" alt="Map of Australia">
					</a>
				</div>
				<div class="col-xs-6">
					<h3 class="explore-map__title--h3">New Zealand</h3>
					<a href="#" class="explore-map__mobile-link">
						<img class="explore-map__mobile-img" src="src/images/svg/hp-nz-map.svg" alt="Map of New Zealand">
					</a>
				</div>

			</div>

			<h4 class="explore-map__title--h4">Select a country to view our suggestions</h4>

		</div>
		{{!-- Mobile --}}

			{{!-- Desktop --}}
			<div class="hidden-xs">

				<div class="explore-map__tabs">

					<ul class="explore-map__nav-tabs nav nav-tabs text-center">
						<li class="explore-map__nav-tab active">
							<a class="explore-map__nav-tab-link" aria-controls="home-map--au" data-toggle="tab" href="#home-map--au">Australia</a>
						</li>
						<li class="explore-map__nav-tab">
							<a class="explore-map__nav-tab-link" aria-controls="home-map--nz" data-toggle="tab" href="#home-map--nz">New Zealand</a>
						</li>
					</ul>

					<div class="explore-map__tab-content tab-content text-center">
						<div id="home-map--au" class="explore-map__tab-pane tab-pane fade in active">

							<div class="explore-map__points">

								<a class="explore-map__point--left explore-map__point-au explore-map__point-au--palm-valley-2" href="destination/sights/palm-valley-2"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image">
									<span class="explore-map__point-label">Palm Valley</span></a>

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--alice-springs-town" href="destination/sights/alice-springs-town"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Alice Springs Town</span></a>

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--west-macdonnell-ranges" href="destination/sights/west-macdonnell-ranges"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">West MacDonnell Ranges</span></a>

						    <a class="explore-map__point-au explore-map__point-au--uluru-ayers-rock" href="destination/sights/uluru-ayers-rock"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Uluru</span></a>

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--kings-canyon" href="destination/sights/kings-canyon"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Kings Canyon</span></a>

						    <a class="explore-map__point-au explore-map__point-au--valley-of-the-winds" href="destination/sights/valley-of-the-winds"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Valley of the Winds</span></a>

						    <a class="explore-map__point-au explore-map__point-au--walpa-gorge" href="destination/sights/walpa-gorge"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Walpa Gorge</span></a>

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--kata-tjuta-the-olgas" href="destination/sights/kata-tjuta-the-olgas"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Kata Tjuta</span></a>

						    <a class="explore-map__point-au explore-map__point-au--sydney-harbour-bridge" href="destination/sights/sydney-harbour-bridge"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Sydney Harbour Bridge</span></a>

						    <a class="explore-map__point-au explore-map__point-au--sydney-opera-house" href="destination/sights/sydney-opera-house"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Sydney Opera House</span></a>

						    <a class="explore-map__point-au explore-map__point-au--bondi-beach" href="destination/sights/bondi-beach"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Bondi Beach</span></a>

						    <a class="explore-map__point-au explore-map__point-au--three-sisters" href="destination/sights/three-sisters"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Three Sisters</span></a>

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--hunter-valley-wineries" href="destination/sights/hunter-valley-wineries"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Hunter Valley Wineries</span></a>

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--parliament-house" href="destination/sights/parliament-house"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Parliament House</span></a>

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--margaret-river-wineries" href="destination/sights/margaret-river-wineries"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Margaret River Wineries</span></a>

						    <a class="explore-map__point-au explore-map__point-au--mammoth-cave" href="destination/sights/mammoth-cave"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Mammoth Cave</span></a>

						    <a class="explore-map__point-au explore-map__point-au--fremantle" href="destination/sights/fremantle"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Fremantle</span></a>

						    <a class="explore-map__point-au explore-map__point-au--cottesloe-beach" href="destination/sights/cottesloe-beach"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Cottesloe Beach</span></a>

						    {{!-- <a class="explore-map__point-au explore-map__point-au--tiwi-islands" href="destination/sights/tiwi-islands"><span class="explore-map__point-label">Tiwi islands</span></a> --}}

						    {{!-- <a class="explore-map__point-au explore-map__point-au--kakadu-national-park" href="destination/regions/kakadu-national-park"><span class="explore-map__point-label">Kakadu National Park</span></a> --}}

						    {{!-- <a class="explore-map__point-au explore-map__point-au--florence-tolmer-and-wangi-falls" href="destination/sights/florence-tolmer-and-wangi-falls"><span class="explore-map__point-label">Florence, Tolmer and Wangi Falls</span></a>

						    <a class="explore-map__point-au explore-map__point-au--edith-falls" href="destination/sights/edith-falls"><span class="explore-map__point-label">Edith Falls</span></a>

						    <a class="explore-map__point-au explore-map__point-au--katherine-gorge" href="destination/sights/katherine-gorge"><span class="explore-map__point-label">Katherine Gorge</span></a>

						    <a class="explore-map__point-au explore-map__point-au--australia-zoo" href="destination/sights/australia-zoo"><span class="explore-map__point-label">Australia Zoo</span></a>

						    <a class="explore-map__point-au explore-map__point-au--glass-house-mountains" href="destination/sights/glass-house-mountains"><span class="explore-map__point-label">Glass House Mountains</span></a> --}}

						    <a class="explore-map__point-au explore-map__point-au--75-mile-beach" href="destination/sights/75-mile-beach"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">75 Mile Beach</span></a>

						    {{!-- <a class="explore-map__point-au explore-map__point-au--lamington-national-park" href="destination/sights/lamington-national-park"><span class="explore-map__point-label">Lamington National Park</span></a> --}}

						    <a class="explore-map__point-au explore-map__point-au--cape-tribulation" href="destination/sights/cape-tribulation"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Cape Tribulation</span></a>

						    <a class="explore-map__point-au explore-map__point-au--port-douglas" href="destination/sights/port-douglas"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Port Douglas</span></a>

						    {{!-- <a class="explore-map__point-au explore-map__point-au--twelve-apostles" href="destination/sights/twelve-apostles"><span class="explore-map__point-label">The Twelve Apostles</span></a>

						    <a class="explore-map__point-au explore-map__point-au--penguin-parade" href="destination/sights/penguin-parade"><span class="explore-map__point-label">Penguin Parade</span></a>

						    <a class="explore-map__point-au explore-map__point-au--the-grampians" href="destination/sights/the-grampians"><span class="explore-map__point-label">Grampians</span></a>

						    <a class="explore-map__point-au explore-map__point-au--freycinet-national-park" href="destination/sights/freycinet-national-park"><span class="explore-map__point-label">Freycinet National Park</span></a>

						    <a class="explore-map__point-au explore-map__point-au--cradle-mountain" href="destination/sights/cradle-mountain"><span class="explore-map__point-label">Cradle Mountain</span></a> --}}

						    <a class="explore-map__point--left explore-map__point-au explore-map__point-au--barossa-wineries" href="destination/sights/barossa-wineries"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Barossa Wineries</span></a>

						    {{!-- <a class="explore-map__point-au explore-map__point-au--hahndorf" href="destination/sights/hahndorf"><span class="explore-map__point-label">Hahndorf</span></a> --}}
							</div>

							<img src="src/images/svg/hp-aus-map--desktop.svg" alt="Australia imag">

						</div>
						<div id="home-map--nz" class="explore-map__tab-pane tab-pane fade">

							<div class="explore-map__points">

								<a class="explore-map__point-nz explore-map__point-nz--bay-of-islands" href="destination/sights/bay-of-islands"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Bay of Islands</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--coromandel" href="destination/sights/coromandel"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Coromandel</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--waitomo-caves" href="destination/sights/waitomo-caves"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Waitomo Caves</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--lake-taupo" href="destination/sights/lake-taupo"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Lake Taupo</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--napier" href="destination/sights/napier"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"> <span class="explore-map__point-label">Napier</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--nelson" href="destination/sights/nelson"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Nelson</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--marlborough" href="destination/sights/marlborough"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Marlborough</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--kaikoura" href="destination/sights/kaikoura"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Kaikoura</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--punakaiki" href="destination/sights/punakaiki"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Punakaiki Pancake Rocks</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--franz-josef-glacier" href="destination/sights/franz-josef-glacier"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Franz Josef Glacier</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--lake-tekapo" href="destination/sights/lake-tekapo"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Lake Tekapo</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--southern-alps" href="destination/sights/southern-alps"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Southern Alps</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--mt-cook-national-park" href="destination/sights/mt-cook-national-park"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Mt Cook National Park</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--queenstown" href="destination/sights/queenstown"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Queenstown</span></a>

								<a class="explore-map__point-nz explore-map__point-nz--milford-sound" href="destination/sights/milford-sound"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Milford Sound</span></a>

								<a class="explore-map__point--left explore-map__point-nz explore-map__point-nz--fiordland-national-park" href="destination/sights/fiordland-national-park"><img src="src/images/map-dot-hover.png" alt="dot hover image" class="hover-image"><span class="explore-map__point-label">Fiordland National Park</span></a>

							</div>

							<img src="src/images/svg/hp-nz-map--desktop.svg" alt="newzealnd image">

						</div>
					</div>

				</div>{{!-- /.explore-map__map-tabs --}}

				<div id="map-calendar" class="explore-map__calendar">

					<div id="jan" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Jan</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>

					<div id="feb" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Feb</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>

					<div id="mar" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Mar</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="apr" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Apr</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="may" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">May</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="jun" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Jun</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="jul" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Jul</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="aug" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Aug</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="sep" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Sep</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="oct" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Oct</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="nov" class="explore-map__month">
						<a href="#" class="explore-map__month-link">

							<span class="explore-map__month-name">Nov</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
					<div id="dec" class="explore-map__month">
						<a href="" class="explore-map__month-link">

							<span class="explore-map__month-name">Dec</span>
							<i class="fa fa-map-marker explore-map__month-icon" aria-hidden="true"></i>

						</a>
					</div>
				</div>

				<h4 class="explore-map__title--h4">Select month to view our suggestion</h4>

			</div>
			{{!-- Desktop --}}

		</div>
</div>
