<div class="tour-detail__left-col col-md-8 col-xs-12">
  {{> tour-detail/tourHeader }}

  <div class="tour-detail__header-prices visible-xs visible-sm">
    {{> tour-detail/tourPrices }}
  </div>{{!-- /.__header-prices --}}

  {{> tour-detail/tourTabs }}
</div>
