<h3 class="tour-detail__title--h3">Prices From</h3>

<div class="container-fluid">
  <div class="tour-detail__price-row row">

    <div class="tour-detail__price col-xs-4 no-padding">
      <h4 class="tour-detail__price-title">$1379</h4>
      <p class="tour-detail__price-title-sub">Adult Twin <em class="tour-detail__price-info-link">i</em>
        <span class="tour-detail__price-info">Lorem ipsum dolor sit amet, consetetur adipiscing elit. Aendean suismod bibendum laoreet.</span>
      </p>
    </div>{{!-- /.__price --}}

    <div class="tour-detail__price col-xs-4 no-padding">
      <h4 class="tour-detail__price-title">$1103</h4>
      <p class="tour-detail__price-title-sub">Child <em class="tour-detail__price-info-link">i</em>
        <span class="tour-detail__price-info">Lorem ipsum dolor sit amet, consetetur adipiscing elit. Aendean suismod bibendum laoreet.</span>
      </p>
    </div>{{!-- /.__price --}}

    <div class="tour-detail__price col-xs-4 no-padding">
      <h4 class="tour-detail__price-title">$1695</h4>
      <p class="tour-detail__price-title-sub">Single <em class="tour-detail__price-info-link">i</em>
        <span class="tour-detail__price-info">Lorem ipsum dolor sit amet, consetetur adipiscing elit. Aendean suismod bibendum laoreet.</span>
    </div>{{!-- /.__price --}}

  </div>
</div>{{!-- /.__container-fluid --}}

<p class="tour-detail__p text-center visible-xs visible-sm">Lorem ipsum dolor sit amet, consetetur adipiscing elit. Aendean suismod bibendum laoreet.</p>
