<div class="tour__useful-information information">
	<div class="container-fluid">
		<div class="row">

			<div class="col-xs-6 no-padding">
				<a href="#what-to-bring" class="btn btn--red-outline information__btn active" role="tab" data-toggle="tab" aria-expanded="false" aria-controls="what-to-bring">
					what to bring
				</a>
			</div>

			<div class="col-xs-6 no-padding">
				<a href="#fitness-requirements" class="btn btn--red-outline information__btn" role="tab" data-toggle="tab" aria-expanded="false" aria-controls="fitness-requirements">
					fitness requirements
				</a>
			</div>

		</div>{{!-- ./row --}}
		<div class="row">

			<div class="col-xs-6 no-padding">
				<a href="#dinning" class="btn btn--red-outline information__btn" role="tab" data-toggle="tab" aria-expanded="false" aria-controls="dinning">
					Dinning
				</a>
			</div>

			<div class="col-xs-6 no-padding">
				<a href="#flight-info" class="btn btn--red-outline information__btn" role="tab" data-toggle="tab" aria-expanded="false" aria-controls="flight-info">
					Flight Information
				</a>
			</div>

		</div>{{!-- ./row --}}

		<div class="row tab-content">

			<div id="what-to-bring" class="tab-pane fade active in" role="tabpanel">
				<div class="col-xs-12">

					<h3 class="tour-detail__title">What to Bring</h3>

					<ul class="information__list no-padding">
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Comfortable Walking hoes</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Sunglasses, hat and sunscreen </a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Water Bottle</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Jacket in the cooler</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Mobile Phone and selfie stick</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
					</ul>
				</div>
			</div>

			<div id="fitness-requirements" class="tab-pane fade" role="tabpanel">
				<div class="col-xs-12">

					<h3 class="tour-detail__title">Fitness Requirements</h3>

					<ul class="information__list no-padding">
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Comfortable Walking hoes</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Sunglasses, hat and sunscreen </a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Water Bottle</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Jacket in the cooler</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Mobile Phone and selfie stick</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
					</ul>
				</div>
			</div>

			<div id="dinning" class="tab-pane fade" role="tabpanel">
				<div class="col-xs-12">

					<h3 class="tour-detail__title">Dinning</h3>

					<ul class="information__list no-padding">
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Comfortable Walking hoes</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Sunglasses, hat and sunscreen </a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Water Bottle</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Jacket in the cooler</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Mobile Phone and selfie stick</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
					</ul>
				</div>
			</div>

			<div id="flight-info" class="tab-pane fade" role="tabpanel">
				<div class="col-xs-12">

					<h3 class="tour-detail__title">Flight Information</h3>

					<ul class="information__list no-padding">
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Comfortable Walking hoes</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Sunglasses, hat and sunscreen </a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Water Bottle</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Jacket in the cooler</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Mobile Phone and selfie stick</a></li>
						<li class="information__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Camera</a></li>
					</ul>
				</div>
			</div>

		</div>{{!-- ./row --}}

	</div>
</div>
