<div class="tabs__optional-experience optional-experience">

	<div class="panel-group inner-accordion" id="inner-accordion-itinerary" role="tablist" aria-multiselectable="true">

		<div class="panel panel-default">

			<div class="panel-heading" role="tab" id="in-acc-oe-h1">

				<h4 class="panel-title inner-accordion__title">
					<a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#experience1" aria-expanded="true" aria-controls="experience1">
						<span class="inner-accordion__title-link-sub">Day 1</span>
						Helicopter Scenic Tour
					</a>
				</h4>

			</div>

			<div id="experience1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="in-acc-oe-h1">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">

							<div class="checkbox col-xs-12 visible-xs visible-sm">
						    <label>
						      <input type="checkbox" name="opt-ext-1" class="tour-detail__opt-ext" data-opt-label="Helicopter Scenic Tour" data-opt-price="180"> Add to my Booking Request  <strong>+ AU$180</strong>
						    </label>
						  </div>

							<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
								<img src="src/images/helicopter-scenic-tour.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
							</div>

							<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">

								<label class="visible-md visible-lg">
						      <input type="checkbox" name="opt-ext-1" class="tour-detail__opt-ext" data-opt-label="Helicopter Scenic Tour" data-opt-price="180"> Add to my Booking Request  <strong>+ AU$180</strong>
						    </label>

								<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>


							</div>

						</div>{{!-- .row --}}
					</div>
				</div>
			</div>

		</div> {{!-- /.pannel1 --}}

		<div class="panel panel-default">

			<div class="panel-heading" role="tab" id="in-acc-oe-h2">

				<h4 class="panel-title inner-accordion__title">
					<a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#experience2" aria-expanded="true" aria-controls="experience2">
						<span class="inner-accordion__title-link-sub">Day 2</span>
						Optional experience title
					</a>
				</h4>

			</div>

			<div id="experience2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="in-acc-oe-h2">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">

							<div class="checkbox col-xs-12 visible-xs visible-sm">
						    <label>
						      <input type="checkbox" name="opt-ext-2" class="tour-detail__opt-ext" data-opt-label="Optional experience" data-opt-price="120"> Add to my Booking Request  <strong>+ AU$120</strong>
						    </label>
						  </div>

							<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
								<img src="src/images/helicopter-scenic-tour.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
							</div>

							<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">
								<label class="visible-md visible-lg">
									<input type="checkbox" name="opt-ext-2" class="tour-detail__opt-ext" data-opt-label="Optional experience" data-opt-price="120"> Add to my Booking Request  <strong>+ AU$120</strong>
								</label>

								<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>


							</div>

						</div>{{!-- .row --}}
					</div>
				</div>
			</div>

		</div> {{!-- /.pannel2 --}}

		<div class="panel panel-default">

			<div class="panel-heading" role="tab" id="in-acc-oe-h3">

				<h4 class="panel-title inner-accordion__title">
					<a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#experience3" aria-expanded="true" aria-controls="experience3">
						<span class="inner-accordion__title-link-sub">Day 3</span>
						Optional experience title
					</a>
				</h4>

			</div>

			<div id="experience3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="in-acc-oe-h3">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">

							<div class="checkbox col-xs-12 visible-xs visible-sm">
						    <label>
						      <input type="checkbox" name="opt-ext-3" class="tour-detail__opt-ext" data-opt-label="Optional experience" data-opt-price="110"> Add to my Booking Request  <strong>+ AU$110</strong>
						    </label>
						  </div>

							<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
								<img src="src/images/helicopter-scenic-tour.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
							</div>

							<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">

								<label class="visible-md visible-lg">
									<input type="checkbox" name="opt-ext-3" class="tour-detail__opt-ext" data-opt-label="Optional experience" data-opt-price="110"> Add to my Booking Request  <strong>+ AU$110</strong>
								</label>

								<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>


							</div>

						</div>{{!-- .row --}}
					</div>
				</div>
			</div>

		</div> {{!-- /.pannel3 --}}

		<div class="panel panel-default">

			<div class="panel-heading" role="tab" id="in-acc-oe-h4">

				<h4 class="panel-title inner-accordion__title">
					<a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#experience4" aria-expanded="true" aria-controls="experience4">
						<span class="inner-accordion__title-link-sub">Day 4</span>
						Optional experience title
					</a>
				</h4>

			</div>

			<div id="experience4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="in-acc-oe-h4">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">

							<div class="checkbox col-xs-12 visible-xs visible-sm">
								<label>
						      <input type="checkbox" name="opt-ext-4" class="tour-detail__opt-ext" data-opt-label="Optional experience" data-opt-price="100"> Add to my Booking Request  <strong>+ AU$100</strong>
						    </label>
						  </div>

							<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
								<img src="src/images/helicopter-scenic-tour.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
							</div>

							<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">

								<label class="visible-md visible-lg">
									<input type="checkbox" name="opt-ext-4" class="tour-detail__opt-ext" data-opt-label="Optional experience" data-opt-price="100"> Add to my Booking Request  <strong>+ AU$100</strong>
								</label>

								<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>


							</div>

						</div>{{!-- .row --}}
					</div>
				</div>
			</div>

		</div> {{!-- /.pannel4 --}}

	</div>

</div>
