<div class="accommodation__hotel-budget budget container-fluid">

	<div class="checkbox col-xs-12 visible-xs visible-sm">
		<label>
			<input type="checkbox"> 2 nights: <strong>21 May 2018 to 23 May 2018</strong>
		</label>
	</div>

	<div class="row">
		<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
			<img src="src/images/tour-am-hotel.png" alt=" Accommodation Hotel" class="inner-accordion__img">
		</div>
		<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">
			<label class="visible-md visible-lg">
				<input type="checkbox"> 2 nights: <strong>21 May 2018 to 23 May 2018</strong>
			</label>
			<p class="tour-detail__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
		</div>
	</div>
</div>
