<div class="tour-detail__included included col-xs-12">

	<p class="tour-detail__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. </p>

	<ul class="included__list no-padding">
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Accommodation</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Kakadu National Park</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Breakfast (3)</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Lunch (1)</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Jumping Cross Cruise</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Yellow Billabong Cruise</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Katherine Gorge Breakfast Cruise</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Experienced Driver Guides</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Detailed and information commentary</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Travel in an air-conditioned coach</a></li>
		<li class="included__item"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Return airport transfer-flight details to be provided 14days prior to travel</a></li>
	</ul>
</div>
