<div class="tour-detail__header">

  <h2 class="tour-detail__title--h2 tour-detail__title--gray">Short break tour name goes here</h2>

  <h3 class="tour-detail__title--h4 tour-detail__title--gray text-capitalize">
    <strong>4 days short break</strong> | Tour code: <strong>XAXAXXA</strong>
  </h3>

  <a href="#" class="btn btn--red tour-detail__btn text-center">BOOK NOW</a>

  <a href="#" class="btn btn--red-outline tour-detail__btn text-center">REQUEST A QUOTE</a>

  <a href="#" class="tour-detail__btn tour-detail__btn--like">
    <i class="fa fa-heart-o tour-detail__heart" aria-hidden="true"></i>
    Add to my <br class="visible-md"/> bucket list
  </a>

</div><!-- .tour__header -->
