<div class="tabs__itinerary itinerary">

	<div class="container-fluid">

		<div class="itinerary__nav row">

			<div class="itinerary__nav-item col-xs-3 no-padding">

				<a role="button" data-toggle="collapse" href="#day1" class="collapsed itinerary__nav-link">
					<span class="itinerary__nav-title-sub"><strong>Day1</strong></span>
				</a>

				<i class="fa fa-map-marker itinerary__nav-icon" aria-hidden="true"></i>

				<h4 class="itinerary__nav-title">Melbourne City</h4>
			</div>

			<div class="itinerary__nav-item col-xs-3 no-padding">

				<a role="button" data-toggle="collapse" href="#day2" class="collapsed  itinerary__nav-link">
					<span class="itinerary__nav-title-sub">Day 2</span>
				</a>

				<i class="fa fa-map-marker itinerary__nav-icon" aria-hidden="true"></i>

				<h4 class="itinerary__nav-title">Great Ocean Road</h4>

			</div>

			<div class="itinerary__nav-item col-xs-3 no-padding">

				<a role="button" data-toggle="collapse" href="#day3" class="collapsed  itinerary__nav-link">
					<span class="itinerary__nav-title-sub"><strong>Day3</strong></span>
				</a>

				<i class="fa fa-map-marker itinerary__nav-icon" aria-hidden="true"></i>

				<h4 class="itinerary__nav-title">Twelve Apostles</h4>

			</div>

			<div class="itinerary__nav-item col-xs-3 no-padding">

				<a role="button" data-toggle="collapse" href="#day4" class="collapsed  itinerary__nav-link">
					<span class="itinerary__nav-title-sub"><strong>Day4</strong></span>
				</a>

				<i class="fa fa-map-marker itinerary__nav-icon" aria-hidden="true"></i>

				<h4 class="itinerary__nav-title">Uluru National Park</h4>

			</div>

		</div>

		<div class="panel-group inner-accordion" id="inner-accordion-itinerary" role="tablist" aria-multiselectable="true">

			<div class="panel panel-default">

		    <div class="panel-heading" role="tab" id="in-acc-itin-h1">

		      <h4 class="panel-title inner-accordion__title">
		        <a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#day1" aria-expanded="true" aria-controls="day1">
							<span class="inner-accordion__title-link-sub">Day 1</span>
		          Melbourne City
		        </a>
		      </h4>

				</div>

		    <div id="day1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="in-acc-itin-h1">
		      <div class="panel-body">
						<div class="container-fluid">
							<div class="row">

								<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
					      	<img src="src/images/tour_mb.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
								</div>

								<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">

									<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

									<div class="container-fluid">
										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__car"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Outback Pioneer Hotel</strong> (Budget), <strong>Desert Gardens Hotel</strong> (Standard) or <strong>Sails in the Desert Hotel</strong> (Superior), Ayers Rock Resort. <strong>(from day 1 to 3)</strong> <a href="#">View and select <i class="fa fa-angle-down" aria-hidden="true"></i></a>
												</p>
											</div>

										</div>

										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__star-plus"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Scenic helicopeter tour name</strong><br />
													<a href="#">View and select options<i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
											</div>

										</div>
									</div>

								</div>

							</div>{{!-- .row --}}
						</div>
		      </div>
		    </div>

	  	</div> {{!-- /.pannel1 --}}

			<div class="panel panel-default">

		    <div class="panel-heading" role="tab" id="in-acc-itin-h2">

		      <h4 class="panel-title inner-accordion__title">
		        <a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#day2" aria-expanded="true" aria-controls="day2">
							<span class="inner-accordion__title-link-sub">Day 2</span>
		          Great Ocean Road
		        </a>
		      </h4>

				</div>

		    <div id="day2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="in-acc-itin-h2">
		      <div class="panel-body">
						<div class="container-fluid">
							<div class="row">

								<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
					      	<img src="src/images/tour_mb.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
								</div>

								<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">

									<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

									<div class="container-fluid">
										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__car"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Outback Pioneer Hotel</strong> (Budget), <strong>Desert Gardens Hotel</strong> (Standard) or <strong>Sails in the Desert Hotel</strong> (Superior), Ayers Rock Resort. <strong>(from day 1 to 3)</strong> <a href="#">View and select <i class="fa fa-angle-down" aria-hidden="true"></i></a>
												</p>
											</div>

										</div>

										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__star-plus"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Scenic helicopeter tour name</strong><br />
													<a href="#">View and select options<i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
											</div>

										</div>
									</div>

								</div>

							</div>
						</div>
		      </div>
		    </div>

	  	</div> {{!-- /.pannel2 --}}

			<div class="panel panel-default">

		    <div class="panel-heading" role="tab" id="in-acc-itin-h3">

		      <h4 class="panel-title inner-accordion__title">
		        <a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#day3" aria-expanded="true" aria-controls="day3">
							<span class="inner-accordion__title-link-sub">Day 3</span>
		          Twelve Apostles
		        </a>
		      </h4>

				</div>

		    <div id="day3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="in-acc-itin-h3">
		      <div class="panel-body">
						<div class="container-fluid">
							<div class="row">
								<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
					      	<img src="src/images/tour_mb.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
								</div>

								<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">

									<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

									<div class="container-fluid">
										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__car"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Outback Pioneer Hotel</strong> (Budget), <strong>Desert Gardens Hotel</strong> (Standard) or <strong>Sails in the Desert Hotel</strong> (Superior), Ayers Rock Resort. <strong>(from day 1 to 3)</strong> <a href="#">View and select <i class="fa fa-angle-down" aria-hidden="true"></i></a>
												</p>
											</div>

										</div>

										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__star-plus"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Scenic helicopeter tour name</strong><br />
													<a href="#">View and select options<i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
		      </div>
		    </div>

	  	</div> {{!-- /.pannel3 --}}

			<div class="panel panel-default">

		    <div class="panel-heading" role="tab" id="in-acc-itin-h4">

		      <h4 class="panel-title inner-accordion__title">
		        <a class="inner-accordion__title-link collapsed" role="button" data-toggle="collapse" data-parent="#inner-accordion-itinerary" href="#day4" aria-expanded="true" aria-controls="day4">
							<span class="inner-accordion__title-link-sub">Day 4</span>
		          Uluru National Park
		        </a>
		      </h4>

				</div>

		    <div id="day4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="in-acc-itin-h4">
		      <div class="panel-body">
						<div class="container-fluid">
							<div class="row">
								<div class="inner-accordion__right col-xs-12 col-md-5 col-md-push-7">
					      	<img src="src/images/tour_mb.jpg" alt="Tour Melbourne Image"  class="inner-accordion__img">
								</div>

								<div class="inner-accordion__left col-xs-12 col-md-7 col-md-pull-5">

									<p class="inner-accordion__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

									<div class="container-fluid">
										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__car"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Outback Pioneer Hotel</strong> (Budget), <strong>Desert Gardens Hotel</strong> (Standard) or <strong>Sails in the Desert Hotel</strong> (Superior), Ayers Rock Resort. <strong>(from day 1 to 3)</strong> <a href="#">View and select <i class="fa fa-angle-down" aria-hidden="true"></i></a>
												</p>
											</div>

										</div>

										<div class="row">

											<div class="col-xs-2">
												<i class="icn icn__star-plus"></i>
											</div>

											<div class="col-xs-10">
												<p class="inner-accordion__p"><strong>Scenic helicopeter tour name</strong><br />
													<a href="#">View and select options<i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
		      </div>
		    </div>

	  	</div> {{!-- /.pannel4 --}}

		</div>{{!-- /.inner-accordion --}}

	</div>
</div>{{!-- tabs__itinerary --}}
